<h1>The Team</h1>
<div id='wrapper'>

  <div class='staff'>
    <img src='/founder.png' alt='founder' class='small-thumb' />
    <p class='employee'>Hezekiah | Founder</p>
    <p class='bio'>Hezekiah was drinking kombucha out of his favorite Hans
    Solo coffee mug when he realized that he’s actually pretty decent at
    Photoshop! In his spare time, he likes to immerse himself in virtual
    reality while riding his hoverboard backwards.</p>
  </div>

</div>
